<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Trabjo Practico 6 </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/libros">Gestion Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/divisas">Conversor de Divisas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/verPasajes">Pasajes</a>
          </li>
        </ul>
        <span class="navbar-text">
          Creacion y consumo de apis propias 
        </span>
      </div>
    </div>
  </nav>